<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rajpatel.ljietcloud">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".LJIETCLOUD"
        android:allowBackup="true"
        android:icon="@mipmap/launcher_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Activity.HomeActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activity.LoginActivity"
            android:label="@string/title_activity_student_login" />
        <activity
            android:name=".Activity.Time_Table"
            android:label="@string/title_activity_time__table"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activity.LoginSuccessfully"
            android:label="@string/title_activity_login_successfully"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activity.VisitWebSite"
            android:label="@string/title_activity_visit_web_site"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activity.AdmissionInquiry"
            android:label="@string/title_activity_admission_inquiry"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activity.AboutUS"
            android:label="@string/title_activity_about_us"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activity.CoursesinLj"
            android:label="@string/title_activity_coursesin_lj"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activity.ReachUs"
            android:label="@string/title_activity_reach_us"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBYsM6zDRUntmV5CkMQ9xWXYHfzbzaB-ko" />

        <activity
            android:name=".Activity.GallaryView"
            android:label="@string/title_activity_gallary_view"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activity.CollegeCorner"
            android:label="@string/title_activity_college_corner"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <meta-data
            android:name="DATABASE"
            android:value="ljiet.db" />
        <meta-data
            android:name="VERSION"
            android:value="2" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.example.rajpatel.ljietcloud" />

        <activity android:name=".Chat.ChatActivity" />
    </application>

</manifest>
